.description-text {
  width: 800px;

  p {
    --font-height: 20px;
    line-height: var(--font-height);
    height: calc(var(--font-height) * 2);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
